.btn{
    margin-top: 10px;
    width: 100%;
    background: cadetblue;
    border: none;
    border-radius: 3px;
}
.btn-item{
    display: inline-block;
    margin-bottom: 14px;
}
.buttons{
    width: 200px;
    display: inline-block;
    margin: 0 10px;
}
.Order-Details{
    width: 600px;
    margin-left: 20px;
    background: lightsteelblue;
}
.btn-rm{
    border-radius: 50%;
    margin-left: 19px;
}